$Roobert: "Roobert";

@font-face {
    font-family: $Roobert;
    src: url("./fonts/Roobert/RoobertRegular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: $Roobert;
    src: url("./fonts/Roobert/RoobertMedium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: $Roobert;
    src: url("./fonts/Roobert/RoobertBold.ttf");
    font-weight: 700;
}
