.p-progressbar.orange .p-progressbar-value {
    background-color: var(--secondary-600);
}
.p-progressbar.purple .p-progressbar-value {
    background-color: var(--primary-700);
}

.p-progressbar.red .p-progressbar-value {
  background-color: var(--complementary-rose-700);
}
